<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
</head>

<body>
  <%- include('../components/nav.ejs') %>
  <h1>Product</h1>
  <!-- 0번 상품 -->
  <p><%= products[0].title %>
    <span><%= products[0].price %>원</span></p>
  <!-- 1번 상품 -->
  <p><%= products[1].title %>
    <span><%= products[1].price %>원</span></p>
  <!-- 2번 상품 -->
  <p><%= products[2].title %>
    <span><%= products[2].price %>원</span></p>
</body>

</html>